.ambient-effect-container-parent {
  /* background-color: rgb(0, 0, 0); */

  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 24px;
}

.ambient-effect-container {
  position: relative;
}

.ambient-effect-canvas {
  position: absolute;
  top: var(--ver-inc);
  left: var(--hor-inc);

  z-index: -2;
}

.ambient-effect-image {
  width: 400px;
}

.ambient-effect-on-hover + .ambient-effect-canvas {
  opacity: 0;
  transition: 0.5s;
}

.ambient-effect-on-hover:hover + .ambient-effect-canvas {
  opacity: 1;
  transition: 0.5s;
}
