@keyframes emoji-burst {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(0);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translate(var(--end-x), var(--end-y)) rotate(var(--rotation))
      scale(var(--scale));
    opacity: 0;
  }
}

.burst-animation {
  animation: emoji-burst 1s cubic-bezier(0.3, 1, 0.4, 1) forwards;
}

@keyframes emoji-drop {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(var(--mid-x));
  }
  100% {
    transform: translateX(var(--end-x));
  }
}

@keyframes emoji-drop-after {
  0% {
    transform: translateY(0) rotate(0) scale(1);
  }
  30% {
    animation-timing-function: ease-in;
    transform: translateY(var(--mid-y));
    opacity: 1;
  }
  100% {
    transform: translateY(var(--end-y)) rotate(var(--rotation))
      scale(var(--scale));
    opacity: 0;
  }
}

.drop-animation {
  animation: emoji-drop 1s linear forwards;
}

.drop-animation::after {
  content: "🤡";
  display: block;
  border-radius: 20px;
  animation: emoji-drop-after 1s cubic-bezier(0.1, 0.5, 0.5, 0.9) forwards;
}
