.mono-particles-container {
  position: relative;
}

.mono-particles-canvas {
  position: absolute;

  top: -75%;
  left: -50%;

  width: 200%;
  height: 250%;

  z-index: 2;
}

.mono-particles-content-wrapper {
  width: 400px;
  height: 250px;
}

.mono-particles-content {
  width: 100%;
  height: 100%;
  background-color: #d25f5f;

  z-index: 3;
  position: relative;
}
