.page-end-aura {
  position: fixed;
  bottom: -30px;
  left: 0;

  width: 100%;
  height: 20px;

  filter: blur(20px);
  border-radius: 50%;
}

@keyframes expandHeight {
  0% {
    height: 0;
  }
  50% {
    height: 60px;
  }
  100% {
    height: 40px;
  }
}

.page-end-aura {
  animation: expandHeight 0.5s ease-in-out forwards;
}
