.password-input-container {
  position: relative;

  width: 250px;
}

.password-input {
  display: block;

  border: 2px solid black;
  outline: none;

  width: 250px;
  height: 34px;

  box-sizing: border-box;

  margin-bottom: 10px;
  padding-left: 15px;

  font-family: "Montserrat";
  font-size: 24px;
  letter-spacing: 0.5px;
}

.password-input-canvas {
  position: absolute;

  top: 0%;
  left: 0%;

  box-sizing: border-box;

  background-color: rgb(255, 255, 255);
  border: 2px solid black;

  width: 250px;
  height: 34px;
}
