@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}

:root {
  --border-width: 6px;
  --border-radius: 16px;
  --d: 1800ms;
  --angle: 60deg;
  --c1: #bb90facc;
  --c2: #fd9090cc;
  --c3: #fff962cc;
  --c4: #9bf993cc;
  --c5: #80daf5cc;
  --c6: #bb90facc;
}

.rainbow-border-v0 {
  border: var(--border-width) solid;
  border-image: conic-gradient(
      from var(--angle),
      var(--c1),
      var(--c2),
      var(--c3),
      var(--c4),
      var(--c5),
      var(--c6),
      var(--c1)
    )
    30;
  animation: borderRotate var(--d) linear infinite forwards;
}

.rainbow-border-v0:focus {
  outline: none;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}
