.alert-container {
  position: fixed;
  bottom: 10%;
  left: 50%;

  transform: translate(-50%, -50%);

  animation: sizeIncrease 1s;
  z-index: 100;
}

.alert-inner {
  background-color: white;
  color: black;

  font-weight: 500;

  padding: 4px 16px;
}

@keyframes sizeIncrease {
  0% {
    transform: translate(-50%, -50%) scale(0%);
  }
  40% {
    transform: translate(-50%, -50%) scale(110%);
  }
  100% {
    transform: translate(-50%, -50%) scale(100%);
  }
}
