@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}

:root {
  --border-width: 6px;
  --border-radius: 10px;
  --d: 1800ms;
  --angle: 60deg;
  --c1: rgb(255, 248, 168);
  --c2: rgba(43, 97, 233, 0.819);
  --c3: rgba(37, 191, 225, 0.819);
  --c4: rgba(53, 225, 37, 0.819);
  --c5: rgba(224, 172, 67, 0.819);
  --c6: rgba(228, 53, 53, 0.867);
}

.rainbow-border {
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.rainbow-border::before {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  margin: auto;
  background-image: conic-gradient(
    from var(--angle),
    var(--c1),
    var(--c2),
    var(--c3),
    var(--c4),
    var(--c5),
    var(--c6),
    var(--c1)
  );
  pointer-events: none;

  animation: borderRotate var(--d) linear infinite forwards;
}

.rainbow-border::after {
  content: "";
  position: absolute;
  left: var(--border-width);
  top: var(--border-width);
  right: var(--border-width);
  bottom: var(--border-width);
  background: rgb(21, 21, 21);
  pointer-events: none;

  border-radius: calc(var(--border-radius) - var(--border-width));
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}
