.rainbow-skeleton-anim {
  background: linear-gradient(
    -45deg,
    #ffffff0d 30%,
    #fd9090cc 40%,
    #fff962cc 45%,
    #9bf993cc 50%,
    #80daf5cc 55%,
    #bb90facc 60%,
    #ffffff0d 70%
  );
  background-size: 1000%;
  animation: skeleton-loading 30s linear infinite;

  width: 100%;
  height: 100%;
}

/* Skeleton loading animation */
@keyframes skeleton-loading {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 800%;
  }
}
